{% extends 'base.html.twig' %}

{% block title %}Export{% endblock %}

{% block body %}
    <div class="card-deck card-export">
        <div class="card bg-purple text-white text-center" style="width: 18rem;">
            <div class="card-header">Events</div>
            <img class="card-img-top p-5 img-invert" src="{{ asset('assets/icons/book.svg') }}"
                 alt="Event icon">
            <div class="card-body">
                <h3 class="display-4">Export Events</h3>
            </div>

            <div class="card-body">
                <a class="btn btn-outline-light btn-lg btn-block" href="{{ path('export_events_doc', {instance: instance.id}) }}">Export as DOC</a>
            </div>
        </div>

        <div class="card bg-green text-white text-center" style="width: 18rem;">
            <div class="card-header">Volunteers</div>
            <img class="card-img-top p-5 img-invert" src="{{ asset('assets/icons/avatar.svg') }}"
                 alt="Event icon">
            <div class="card-body">
                <h3 class="display-4">Export Volunteers</h3>
            </div>

            <div class="card-body">
            </div>
        </div>
    </div>
{% endblock %}
