{% extends 'base.html.twig' %}

{% block title %}Find & Replace{% endblock %}

{% block body %}
    <h3>{% trans %}Find & Replace{% endtrans %}</h3>

    <form id="js--search-form" autocomplete="on" method="GET" action="{{ path('find_and_replace_search', {instance: instance.id}) }}">
        <div class="btn-group btn-group-toggle btn-group-sm btn-block mb-3" data-toggle="buttons">
            <label class="btn btn-light btn-sm w-100 active">
                <input id="js--search-type-regular" class="js--search-updater" type="radio" name="options" value="regular" checked> Regular
            </label>
            <label class="btn btn-light btn-sm w-100">
                <input id="js--search-type-regex" class="js--search-updater" type="radio" name="options" value="regex"> RegEx
            </label>
        </div>

        <div class="input-group mb-3 input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" name="query" class="form-control js--search-updater" placeholder="Search&hellip;" aria-label="Username"
                   aria-describedby="basic-addon1" id="js--search-query" autofocus="on" autocomplete="off">
        </div>

        <div class="row">
            <div class="col-md">
                <div class="input-group mb-3">
                    <input type="text" name="replace" class="form-control js--search-updater" placeholder="Replace&hellip;"
                           aria-label="Username" aria-describedby="basic-addon1" id="js--replace-query">
                </div>
            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-light" name="action" value="find"><i class="fas fa-search"></i> Find</button>
                <button type="submit" class="btn btn-danger" name="action" value="replace"><i class="fab fa-searchengin"></i> Find &amp; Replace</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        History
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <button type="submit" id="js--search-status-button" class="btn btn-success" disabled>
                    Status: <strong id="js--search-status">Ready</strong>
                    <i class="fas fa-check ml-1" id="js--search-status-icon"></i>
                </button>
                <button type="submit" id="js--search-status-count-button" class="btn btn-light" disabled>
                    <strong id="js--search-status-count">0</strong> results found
                </button>
            </div>
        </div>

        <p>
            <span class="text-muted">{% trans %}Example{% endtrans %}</span>:
            The square <strong id="js--example-original"></strong> rhymes.
            <i class="fas fa-long-arrow-alt-right"></i>
            The square <strong id="js--example-replace"></strong> rhymes.
        </p>
    </form>

    <div id="js--results-container">
        <div id="js--results"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/search.js') }}"></script>
{% endblock %}
