<h2>List of Surveys</h2>

<% Rails.application.routes.routes.each do |route| %>
  <% if route.defaults[:controller] == 'surveys' and
      not %w(index thanks results).include? route.defaults[:action] and
      not route.defaults[:action].match(/_process$/)
  %>
    <a href="<%= url_for(controller: route.defaults[:controller],
                         action: route.defaults[:action],
                         only_path: true) %>" class="btn btn-default btn-lg">
      <%= route.defaults[:action] %>
      <% if current_user.present? %>
        <a href="<%= url_for(controller: route.defaults[:controller],
                             action: 'results',
                             survey: route.defaults[:action],
                             only_path: true) %>" class="btn btn-success btn-lg"
           title="Form results"
           aria-label="<%= route.defaults[:action] %> form results">
          📑
        </a>
      <% end %>
    </a>

  <% end %>
  <!--  <a href="<%#= url_for route %>"><%#= route.defaults[:controller] %></a><br>-->
<% end %>