// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$kindColors: (
  concert: #0072b2,
  music: #315277,
  theatre: #307121,
  photography: #295854,
  sports: #4f3932,
  other: #555555,

  experiment: darken(#ff4134, 20%),
  presentation: darken(#4575be, 20%),
  observation: darken(#c2cd4d, 20%),
  game: darken(#ff5d2c, 20%),
  archive: darken(#5f4ba6, 20%),
  lab: darken(#46bd68, 20%),
  demonstration: darken(#fb5eac, 20%)
);

.event-kind {
  padding: 1em;
  background-color: #333333;
  border-radius: 5px;

  img {
    width: 64px;
  }

  @each $kind, $color in $kindColors {
    &[data-kind=#{$kind}] {
      background-color: $color;
    }
  }

  &[data-kind="theatre"] img {
    filter: invert(100%);
  }

  &[data-kind="photography"] img {
    filter: invert(80%);
  }
}

.event-team {
  &:before {
    content: "by ";
    font-size-adjust: 0.4;
  }
}

.professor-week-event-kinds {
  color: black;
}

.media-inactive {
  opacity: .2;

  .event-kind {
    @each $kind, $color in $kindColors {
      &[data-kind=#{$kind}] {
        background-color: desaturate($color, 20%);
      }
    }
  }
}

@each $kind, $color in $kindColors {
  .label-event-#{$kind} {
    background-color: saturate(lighten($color, 10%), 20%);
  }
}

@media (max-width: 600px) {
  .media-body {
    width: 100% !important;
    display: inline-block !important;

    margin-top: 1em !important;
  }

  .media-left, .media-right {
    display: block !important;
    width: 40%;
    min-width: 110px;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 601px) {
    .dl-attributes-tiny {
      display: flex;
      flex-wrap: wrap;
    }

  $margin-bottom: 0.7rem;

    .attribute-tiny-key {
      flex: 1 1 70%;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      text-align: right;

      max-width: 70%;

      margin-bottom: $margin-bottom;
    }

    .attribute-tiny-value {
      margin-left: 0rem !important;
      padding-left: 1rem;
      flex: 1 1 30%;

        .label {
          display:inline-block;
          white-space: normal;
          font-weight: 400;
          font-size: 95%;
        }

      margin-bottom: $margin-bottom;
    }
}

.row-flex {
  display: flex;
}

.col-flex {
  flex: 0 1 auto;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &.col-flex-large {
    flex: 1 2 auto;
  }

  &.col-flex-x-large {
    flex: 1 0.3 auto;
  }

  &.col-flex-small {
    flex: 0 4 auto;
    min-width: 240px;
  }

  .panel {
    height: 100%;
  }

  margin-bottom: 0.5rem;
}

.label-lg {
  font-size: 95% !important;

  margin-bottom: 0.2rem;
  display: inline-block !important;
}